In [3]:
import sqlite3
from sqlite3 import Error

# Criando a conexao e a tabelo no banco de dados
def sql_connection():
  try:
    con = sqlite3.connect('mydatabase.db')
    return con
  except Error:
    print(Error)

def sql_table(con):
  cursor = con.cursor()
  cursor.execute("CREATE TABLE if not exists herois(id integer PRIMARY KEY NOT NULL, nome text NOT NULL, super_poder text)")
  con.commit()

con = sql_connection()
sql_table(con)

# # Inserindo dados
# def sql_insert(con, entities):
#   cursor = con.cursor()
#   cursor.execute("INSERT INTO herois (id, nome, super_poder) values(?, ?, ?)", entities)
#   con.commit()

# entities = (1, 'Super Man', 'Forca')

# sql_insert(con, entities)

# consultando registros
def sql_fetch(con):
    cursor = con.cursor()
    cursor.execute('SELECT * FROM herois')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

sql_fetch(con)

(1, 'Super Man', 'Forca')

In [9]:
def sql_connection():
  try:
    con = sqlite3.connect('mydatabase.db')
    return con
  except Error:
    print(Error)
    
def sql_fetch(con):
    cursor = con.cursor()
    cursor.execute('SELECT * FROM herois')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

sql_fetch(con)

(1, 'Super Man', 'Forca')
(2, 'batman', 'dinheiro')

In [10]:
import pandas as pd

dataframe = pd.read_sql("""
            SELECT * 
            FROM herois
            """, con = sqlite3.connect('mydatabase.db'))

dataframe.head()

   id       nome super_poder
0   1  Super Man       Forca
1   2     batman    dinheiro

In [13]:
# create excel file
#dataframe.to_excel("pandas-excel.xlsx", sheet_name="Nomes")

# create list from dataframe
newCells = dataframe.values.tolist()

In [14]:
from __future__ import print_function

import os.path

from google.auth.transport.requests import Request
from google.oauth2.credentials import Credentials
from google_auth_oauthlib.flow import InstalledAppFlow
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError

# If modifying these scopes, delete the file token.json.
SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

# The ID and range of a sample spreadsheet.
SAMPLE_SPREADSHEET_ID = '1y69j1Dtdlc2efYLLjZHqCBvjHBGsj6nX1uzb4tOq4xw'
SAMPLE_RANGE_NAME = 'Página1!A1:E20'


def main():
    creds = None
  
    if os.path.exists('token.json'):
        creds = Credentials.from_authorized_user_file('token.json', SCOPES)
    # If there are no (valid) credentials available, let the user log in.
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'client_secret.json', SCOPES)
            creds = flow.run_local_server(port=0)
        # Save the credentials for the next run
        with open('token.json', 'w') as token:
            token.write(creds.to_json())

    try:
        service = build('sheets', 'v4', credentials=creds)

        # Call the Sheets API
        sheet = service.spreadsheets()
        result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                    range=SAMPLE_RANGE_NAME).execute()
        values = result.get('values', [])

        if not values:
            print('No data found.')
            return
        
        print (values)

        valores_adicionar = newCells

        result = sheet.values().update(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                    range='Página1!A13', valueInputOption="USER_ENTERED",
                                    body={"values": valores_adicionar}).execute()

    except HttpError as err:
        print(err)


main()

[['oi', 'b1'], ['bom?', 'b2 haah'], ['a3', 'asdf'], [], [], [], [], [], [], [], [], [], ['dezembro', '190'], ['janeiro', '20']]